<!-- FORM -->
<h2>Create a new dish for <%= @restaurant.name %></h2>

<!-- pass in an array when dealing with nested routes -->
<%= simple_form_for([@restaurant, @dish]) do |f| %>
  <!-- content input -->
  <%= f.input :name %>
  <%= f.button :submit, class: 'btn-primary' %>
  <!-- submit button -->
<% end %>
